.listing-create-container {
  min-height: 800px;
  width: 100%;
}
.listing-create-header-dummy {
  height: 70px;
  width: 100%;
}
.listing-create-form {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 50%;
  margin-top: 30px;
  margin-left: 10%;
  background: white;
}
.listing-create-nums {
  width: 70%;
  margin: 10px auto;
}
.listing-create-title,
.listing-create-description,
.listing-create-long,
.listing-create-lat,
.listing-create-address,
.listing-create-price,
.listing-create-capacity {
  color: black;
  font-size: 15px;
  margin: 10px auto;
  padding: 15px;
  border: 1px solid black;
  display: block;
  width: 70%;
}

.listing-create-description {
  height: 100px;
}

.listing-create-nums {
  display: flex;
  justify-content: space-between;
}
.listing-create-long,
.listing-create-lat,
.listing-create-price,
.listing-create-capacity {
  width: 30%;
  margin: 10px;
}

.listing-create-button-div {
  display: inline-block;
  width: 100%;
}

.listing-create-submit {
  margin: 40px;
  border: 3px solid #40d9ac;
  background-color: #40d9ac; /* Green */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  padding: 5px;
  float: right;
}
.listing-create-submit:hover {
  background-color: white;
  color: #40d9ac;
  border-color: #40d9ac;
}
.listing-create-question {
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
}

.listing-form-outer-container {
  display: flex;
  background: #f9f9f9;
}

.list-create-msg-box {
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  height: 100%;
  margin-left: 60px;
  padding: 10px;
  font-size: 20px;
  width: 20%;
  margin-top: 50px;
  background: white;
}
/* 
.image-upload-container {
  position: relative;
  overflow: hidden;
  border: 1px solid black;
  background: pink;
  border-radius: 10px;
  width: 15%;
  height: 30px;
  margin-top: 5px;
  margin: auto;
  cursor: pointer;
} */
/* 
#uploadBtn {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  border: 1px solid red;
  width: 100%;
} */

#fileUpload {
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  border: 2px solid rgb(124, 127, 126);
  background: rgb(124, 127, 126);
  /* border-radius: 7px; */
  color: white;
  width: 20%;
  height: 100%;
  text-align: center;
  /* font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 26px; */
}

#fileUpload:hover {
  background: white;
  color: rgb(124, 127, 126);
}

#fileUpload span {
  text-align: center;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
#uploadFile {
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 12px;
  /* border: 1px solid darkgrey; */
}
.image-upload-container {
  display: flex;
  /* border: 1px solid green; */
  justify-content: center;
  line-height: 30px;
}

#uploadBtn {
  position: absolute;
  font-size: 20px;
  border: 1px solid red;
  cursor: pointer;
  left: -100px;
  top: 0;
  opacity: 0;
  width: 200%;
  height: 100%;
  /* filter: alpha(opacity=0); */
}
