.listing-detail-head-dummy-div {
  height: 70px;
  width: 100%;
}

.listing-middle-container {
  display: flex;
}

.listing-detail-description-div {
  display: flex;
  border-top: 1px solid #ebebeb;
}

.listing-detail-container-div {
  padding-left: 65px;
  padding-right: 40px;
}

#listing-detail-host {
  width: 30%;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  color: #333333;
}
#listing-detail-des {
  width: 70%;
  color: #333333;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
}

.listing-detail-image-container {
  height: 550px;
  width: 100%;
}

.listing-detail-image-container img {
  height: 100%;
  width: 80%;
}

.listing-booking-form-container {
  position: -webkit-sticky;
  position: sticky;
  margin-right: 140px;
  float: right;
}

.listing-detail-hardcode-container {
  height: 700px;
  width: 60%;
  padding-left: 5%;
}

#listing-detail-address {
  color: #656565;
  margin-top: 35px;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
}

#listing-detail-title {
  margin: 0;
  font-size: 42px;
  color: #333333;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.listing-detail-title-div {
  margin-bottom: 25px;
}
