.session-form-errors li {
  list-style: none;
  color: #b38b01;
  background-color: #fef2d6;
  position: center;
}
.session-form-errors {
  padding-left: 0;
}
.session-input-field {
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin: 5px;
  padding: 15px;
  border: 1px solid black;
  width: 72%;
}
.session-input-field-name {
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin: 5px;
  padding: 13px;
  border: 1px solid black;
  width: 30%;
}
.login-form-box .signup-form-box {
  height: 100%;
  width: 100%;
}

.login-form-box h3,
.signup-form-box h3 {
  /* display: block; */
  font-size: 26px;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
}

.login-form-box p,
.signup-form-box p {
  color: grey;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.session-submit {
  margin: 10px;
  border: 3px solid #40d9ac;
  background-color: #40d9ac; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 83%;
}
.session-submit:hover {
  background-color: white;
  color: #40d9ac;
  border-color: #40d9ac;
}
.switch-modal-button {
  border: none;
  padding: 0;
  cursor: pointer;
}
