// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-form {
  position: relative;
  padding: 15px;
  background: rgb(192, 125, 125);
  z-index: 10;
  border: 1px solid #888;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
