.header {
  display: flex;
  justify-content: space-between;
}
.header a {
  text-decoration: none;
}

.header-logo {
  font-family: "Days One", sans-serif;
  font-size: 2em;
  letter-spacing: 4px;
  color: black;
}
.header-logo :hover {
  cursor: pointer;
}
.header-button {
  margin: 10px;
  background-color: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: lightgray;
  color: black;
  padding: 0;
  text-align: justify;
  display: inline-block;
  font-size: 16px;
  font-weight: lighter;
  cursor: pointer;
}

.header-user-nav:hover .header-dropdown-div {
  display: block;
}
.header-user-nav {
  margin: 10px 20px;
  position: relative;
}
.header-dropdown-div {
  display: none;
  position: absolute;
  width: 100px;
  z-index: 1;
  right: 5px;
}

.header-dropdown-div a {
  position: relative;
  display: block;
  cursor: pointer;
  border: 1px solid lightgrey;
  padding: 5px;
  color: darkslategrey;
}

.header-user-img {
  height: 40px;
  width: 40px;
}
.header-button-collection {
  margin-right: 15px;
}

/* ListingCollection */
.listing-container-div {
  padding-top: 50px;
}
