#not-found-background {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  /* background-image: image("../public/not_found_background.jpg"); */
  /* background-color: pink; */
  overflow: hidden;
}
