.booking-show-container {
  background: white;
  border: 1px solid lightgrey;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
}
.booking-show-dummy-div {
  height: 100px;
}
.booking-show-listing-div {
  height: 55%;
  
}

.booking-info-div {
  position: relative;
  padding: 15px;
  width:270px;
}
.booking-show-nums{
  display:flex;
  justify-content:space-between;
}
.booking-show-nums div div,
.booking-show-guests
{
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 15px 15px 0px 15px;
}

.booking-show-buttons {
  position: absolute;
  bottom: 10px;
}

.booking-show-buttons button {
  margin: 10px;
  border: 3px solid #40d9ac;
  background-color: #40d9ac; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  width: 93%;
}

.booking-show-buttons button:hover {
  background-color: white;
  color: #40d9ac;
  border-color: #40d9ac;
}

#to{
  color: grey;
  
}